@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 46.7%);
@gray-lighter: lighten(@gray-base, 93.5%);
@brand-primary: #006747;
@brand-success: #9ccb3b;
@brand-info: #29afce;
@brand-warning: #f0ad4e;
@brand-danger: #bb1847;

.top-bar {
    background: @brand-primary url("//cdn.usf.edu/themes/sun-globe/global/1.0.0/images/header/top-bar/top-bar.jpg") repeat-x;
    background-image: -webkit-linear-gradient(top, #0c6a4d, #12825f);
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-bar h1 {
    margin:0;
    line-height:25px;
}

.top-nav {
    margin-top: 5px;
}

.listless, .listless li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
